---
import BlogPostItem from "@/components/common/BlogPostItem.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getBlogPosts } from "@/utils/blog";

const blogPosts = await getBlogPosts();
---

<BaseLayout
  title="博客 · chxuo.com"
  description="记录一些工作、学习与生活的碎碎念。"
>
  <div class="mx-auto md:max-w-3xl">
    <section id="blog" class="py-24 md:py-32">
      <div
        class="mb-8 flex flex-col justify-between gap-4 border-b border-border pb-6 md:flex-row md:items-end"
      >
        <div>
          <h2
            class="mb-2 font-serif text-3xl font-medium text-foreground md:text-4xl"
          >
            文章
          </h2>
          <p class="font-sans text-sm font-light text-muted-foreground">
            记录点工作与生活的碎碎念。随便写写，您随便看看。
          </p>
        </div>
      </div>

      {
        blogPosts.map((post, index) => (
          <>
            <BlogPostItem post={post} />
            {index < blogPosts.length - 1 && (
              <hr class="border-t border-border" />
            )}
          </>
        ))
      }
    </section>
  </div>
</BaseLayout>
