---
import BlogPreview from "@/components/blocks/BlogPreview.astro";
import Container from "@/components/layout/Container.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getBlog } from "@/utils/content";

const blog = await getBlog();
---

<BaseLayout title="博客文章" description="一些有用或者有趣的内容">
  <section class="py-16 sm:py-24">
    <Container size="sm">
      <div class="flex flex-col gap-3">
        <h1 class="text-3xl">博客文章</h1>
        <p class="text-base text-muted-foreground">一些有用或者有趣的内容</p>
      </div>
      {blog.map((item) => <BlogPreview blog={item} />)}
    </Container>
  </section>
</BaseLayout>
