---
import siteConfig from "@/config/site";
import ThemeToggle from "../blocks/ThemeToggle.astro";
---

<footer class="mt-16 flex justify-between leading-7 font-[350] opacity-75">
  <div>
    © 2025 {siteConfig.author}
  </div>

  <div>
    <ThemeToggle />
  </div>
</footer>
