---
import PostList from "@/components/blocks/PostList.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getPostsByTag } from "@/utils/post";
import type { GetStaticPaths } from "astro";
import { Icon } from "astro-icon/components";
import { getCollection } from "astro:content";

export const getStaticPaths = (async () => {
  const tags = await getCollection("tags");

  return tags.map((tag) => ({
    params: { slug: tag.data.slug },
    props: {
      tag,
    },
  }));
}) satisfies GetStaticPaths;

const { tag } = Astro.props;
const posts = await getPostsByTag(tag.data.name);
---

<BaseLayout title={`${tag.data.name} · 标签`}>
  <div class="space-y-8">
    <h2 class="flex items-center gap-2 text-xl font-semibold">
      <Icon name="tabler:hash" class="h-5 w-5 text-muted-foreground" />
      {tag.data.name}
      <span class="text-sm font-normal text-muted-foreground"
        >共 {posts.length} 篇</span
      >
    </h2>
    <PostList posts={posts} />
  </div>
</BaseLayout>
