---
import PostList from "@/components/blocks/PostList.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCategoryMap } from "@/utils/post";
import { getCategories } from "@/utils/post";
import type { GetStaticPaths } from "astro";

export const getStaticPaths = (async () => {
  const categories = await getCategories();

  return categories.map((category) => ({
    params: { slug: category.data.slug },
    props: {
      category,
    },
  }));
}) satisfies GetStaticPaths;

const { category } = Astro.props;
const categoryMap = await getCategoryMap();
const posts = categoryMap.get(category.data.name) || [];
---

<BaseLayout>
  <h2 class="mt-7 text-sm">{category.data.name}（共 {posts.length} 篇文章）</h2>
  <PostList posts={posts} />
</BaseLayout>
