---
import CategoryPreview from "@/components/common/CategoryPreview.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCategoryMap } from "@/utils/post";

const categoryMap = await getCategoryMap();
const categories = categoryMap.keys();
---

<BaseLayout>
  <section class="mt-7 grid space-x-4 md:grid-cols-2">
    {
      categories.map((category) => (
        <CategoryPreview
          category={category}
          posts={categoryMap.get(category) || []}
        />
      ))
    }
  </section>
</BaseLayout>
