---
import { Icon } from "astro-icon/components";

interface Props {
  title: string;
  href: string;
  active: boolean;
  icon?: string;
}

const { title, href, active, icon } = Astro.props;
---

<a
  href={href}
  class:list={[
    "flex items-center gap-4 px-2 py-2 text-lg",
    "font-mono font-medium transition-[color] duration-300 sm:p-0 sm:text-sm",
    active ? "text-foreground" : "text-muted-foreground",
  ]}
>
  {icon && <Icon name={icon} size={20} />}
  {title}
</a>
