---
import type { TocItem } from "@/utils/toc";

interface Props {
  heading: TocItem;
}

const { heading } = Astro.props;
---

<li>
  <a
    href={"#" + heading.slug}
    class="block overflow-hidden text-sm tracking-tight text-ellipsis whitespace-nowrap opacity-60 hover:opacity-100"
  >
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="mt-1 flex flex-col gap-0.5" style={`margin-left: 8px`}>
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
