---
import type { TocItem } from "@/utils/toc";

interface Props {
  heading: TocItem;
}

const { heading } = Astro.props;
---

<li>
  <a
    href={"#" + heading.slug}
    class="line-clamp-2 block py-1 text-muted-foreground transition-colors hover:text-primary"
  >
    {heading.text}
  </a>
  {
    heading.subheadings.length > 0 && (
      <ul class="mt-1 ml-3 flex flex-col gap-1 border-l border-border pl-3">
        {heading.subheadings.map((subheading) => (
          <Astro.self heading={subheading} />
        ))}
      </ul>
    )
  }
</li>
