---
import FriendLink from "@/components/common/FriendLink.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const friends = await getCollection("friends");
---

<BaseLayout>
  <section
    class="mt-7 grid grid-cols-1 max-md:space-y-4 md:grid-cols-2 md:space-x-4"
  >
    {friends.map((friend) => <FriendLink friend={friend} />)}
  </section>
</BaseLayout>
