---
import FriendLink from "@/components/common/FriendLink.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const friends = await getCollection("friends");
---

<BaseLayout title="友链">
  <div class="grid grid-cols-1 gap-4 md:grid-cols-2">
    {friends.map((friend) => <FriendLink friend={friend} />)}
  </div>
</BaseLayout>
