---
import FriendLink from "@/components/common/FriendLink.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
import { getCollection } from "astro:content";

const friends = await getCollection("friends");
---

<BaseLayout>
  <section class="mt-7 grid md:grid-cols-2">
    {friends.map((friend) => <FriendLink friend={friend} />)}
  </section>
</BaseLayout>
