---
import Hero from "@/components/blocks/Hero.astro";
import RecentBlogPosts from "@/components/blocks/RecentBlogPosts.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout>
  <div class="mx-auto md:max-w-3xl">
    <Hero />
    <RecentBlogPosts />
  </div>
</BaseLayout>
