---
import Hero from "@/components/blocks/Hero.astro";
import RecentBlogPosts from "@/components/blocks/RecentBlogPosts.astro";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title="轻河 · chxuo.com" description="写代码，记笔记，偶尔发发呆。">
  <div class="mx-auto md:max-w-3xl">
    <Hero />
    <RecentBlogPosts />
  </div>
</BaseLayout>
