---
import ThemeToggle from "@/components/features/ThemeToggle.astro";
import { siteConfig } from "@/config";
import BaseLayout from "@/layouts/BaseLayout.astro";
---

<BaseLayout title={siteConfig.title} description={siteConfig.description}>
  <h1>Astro</h1>
</BaseLayout>
