<theme-toggle></theme-toggle>

<script is:inline>
  class ThemeToggle extends HTMLElement {
    constructor() {
      super();
    }

    connectedCallback() {
      this.innerHTML = `
        <select>
          <option value="auto">Auto</option>
          <option value="light">Light</option>
          <option value="dark">Dark</option>
        </select>
      `;
      this.querySelector("select").onchange = (event) => theme.setTheme(event.target.value);
      this.setAttribute("aria-label", "Select Theme");
      this.updateSelectedTheme();

      document.addEventListener("theme-changed", (event) => {
        this.updateSelectedTheme(event.detail.theme);
      });
    }

    updateSelectedTheme(newTheme = theme.getTheme()) {
      this.querySelector("select").value = newTheme;
    }
  }

  if (!customElements.get("theme-toggle")) {
    customElements.define("theme-toggle", ThemeToggle);
  }
</script>
