---
import { Icon } from "astro-icon/components";

interface Props {
  url?: string;
  title?: string;
}

const { url = "/", title = "home" } = Astro.props;
---

<a
  href={url}
  title={title}
  class:list={[
    "flex items-center gap-1 text-muted-foreground hover:text-accent-foreground",
    "mb-10 leading-3",
    "mt-1 lg:fixed lg:-ml-54",
  ]}
>
  <Icon name={"tabler:arrow-back-up"} size={"18"} />
  <span class="font-serif">{title}</span>
</a>
