---
import Umami from "@/components/analytics/Umami.astro";
import ThemeManager from "@/components/blocks/ThemeManager.astro";
import BaseHead from "@/components/meta/BaseHead.astro";
import "@/styles/global.css";
import { ClientRouter } from "astro:transitions";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  article?: boolean;
  publishedTime?: Date;
  modifiedTime?: Date;
  tags?: string[];
  author?: string;
}

const head = Astro.props;
---

<html lang="zh-CN">
  <head>
    <BaseHead {...head} />
    <ClientRouter />
    <ThemeManager defaultTheme="auto" />
  </head>
  <body class="mx-auto max-w-xl bg-background px-6 pt-24 pb-6 text-foreground">
    <slot />

    <Umami />
  </body>
</html>
