---
import BaseHead from "@/components/BaseHead.astro";
import type { HeadProps } from "@/types";
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import ThemeManager from "@/components/features/ThemeManager.astro";
import Header from "@/components/layout/Header.astro";
import Footer from "@/components/layout/Footer.astro";

type Props = HeadProps;

const headProps = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...headProps} />
    <ClientRouter />
    <ThemeManager />
  </head>
  <body class="flex min-h-screen flex-col bg-background font-sans leading-relaxed text-foreground">
    <Header />
    <main class="h-100% flex-1">
      <slot />
    </main>
    <Footer />
  </body>
</html>
