---
import BaseHead from "@/components/BaseHead.astro";
import type { HeadProps } from "@/types";
import { ClientRouter } from "astro:transitions";
import "@/styles/global.css";
import ThemeManager from "@/components/ThemeManager.astro";

type Props = HeadProps;

const headProps = Astro.props;
---

<html lang="en">
  <head>
    <BaseHead {...headProps} />
    <ClientRouter />
    <ThemeManager />
  </head>
  <body>
    <slot />
  </body>
</html>
