---
import Footer from "@/components/layout/Footer.astro";
import Header from "@/components/layout/Header.astro";
import "@/styles/global.css";
import BaseLayout from "./BaseLayout.astro";

interface Props {
  title?: string;
  description?: string;
  image?: string;
  article?: boolean;
  publishedTime?: Date;
  modifiedTime?: Date;
  tags?: string[];
  author?: string;
}

const head = Astro.props;
---

<BaseLayout>
  <Header />
  <main>
    <slot />
  </main>
  <Footer />
</BaseLayout>
